:root {
  --main-collor: #ec6a52;
}

input.form-control {
  border: 1px solid var(--main-collor);
  border-radius: 16px;
  background-color: transparent;
  outline: none !important;
}

input.form-control::placeholder {
  color: white;
}

.navbar-brand {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  border-radius: 16px;
  padding: 8px 48px;
  background: #ec6a52;
  color: white !important;
}

.nav-item a {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  color: white !important;
}

.nav-item a.active {
  color: var(--main-collor) !important;
}
